
html {
  background: #E5E5E5;
  scroll-behavior: smooth;
} /* делает прокрутку плавной */
* {
  padding: 0;
  margin: 0;
  border: 0;
  /* margin: 0 auto; */
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/Georgia.ttf);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
@font-face {
  font-family: "Arial";
  src: url(../fonts/ARIAL.TTF);
}
html, body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Georgia", "Arial";
}
.wrapper {
  box-sizing: border-box;
  height: 100%;
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header {
  box-sizing: border-box;
  width: 100%;
  background: #FFFFFF;
}
.color{
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}
.header_wrapper {
  max-width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 184px;
  height: 60px;
}

.header_a {
  width: 184px;
  height: 60px;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.h1 {
  margin: 0;
  width: 184px;
  height: 35px;
  /* logo_title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  /* line-height: 110%; */
  letter-spacing: 0.9px;
  color: #545454;
}
.h1:hover{
  color: #FDDCC4;
  transition: background-color .8s;
}
.under_h1 {
  margin: 0;
  width: 179px;
  height: 15px;
  padding-left: 4px;
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* align-items: center; */
  letter-spacing: 0.7px;
  /* color-light-xl */
  color: #292929;
}
.under_h1:hover{
  color: #FDDCC4;
  transition: background-color .8s;
}
.menu-ul {
  width: 443px;
  height: 27px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul > li > a {
  height: 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 24px */
  color: #545454;
  text-decoration: none;
}
ul>li>a:hover{
  color: #FDDCC4;
  transition: background-color .8s;
}
.active {
  height: 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 24px */
  color: #292929;
  /* text-decoration: underline; */
  
}
.active_under{
  width: 58px;
  height: 3px;
  background: #F1CDB3;
  /* flex: none; */
  /* order: 1; */
  /* align-self: stretch; */
  /* flex-grow: 0; */
}
.burger{
  display: none;
}







.pets2 {
  box-sizing: border-box;
  width: 100%;
  background: #F6F6F6;
}

.pets2_content {
  width: 100%;
  max-width: 1200px;
  /* height: 1342px; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.pets2_h3 {
  width: 410px;
  height: 90px;
  margin: 80px 0 45px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #545454;
}

.slider2 {
  /* box-sizing: border-box; */
  width: 100%;
  max-width: 1200px;
  /* height: 930px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.price2-ul {
  /* box-sizing: border-box; */
  width: 100%;
  max-width: 1200px;
  /* height: 930px; */
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
}

.active2 {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  margin-bottom: 30px;
}

.cards2_wrapper {
  width: 270px;
  height: 165px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards2_wrapper > a {
  width: 74px;
  height: 23px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}
.active2{
  cursor: pointer;
}
.class_close{
  display: none;
}
.pop_background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  /* display: flex; */
  /* align-items: center; */
  background: rgba(41, 41, 41, 0.6);
  opacity: 7;
  /* z-index: 9999; */
}
.pop_wrapper{
  align-items: center;
}
.pop_container{
  width: 750px;
  height: 402px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.pop_button{
  cursor: pointer;
  /* box-sizing: border-box; */
  width: 52px;
  height: 52px;
  background: url(../images/modal_close_button.svg);
  border-radius: 100px;
}
.pop_button:hover{
  border-radius: 100px;
  background-color: #FDDCC4;
  transition: background-color .8s;
}
.pop_content{
  width: 730px;
  height: 350px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  opacity: 9;
  border-radius: 9px 9px 9px 9px;
  /* flex-flow: row; */
}
#pop_img{
  width: 100%;
  max-width: 350px;
  height: 350px;
  display: flex;
  /* justify-content: space-evenly; */
  /* background: url(../images/pets-katrine2.png); */
  border-radius: 9px 9px 9px 9px;
}
.pop_text{
  width: 300px;
  /* height: 303px; */
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#pop_text1{
  width: 270px;
  /* height: 45px; */
  /* text-align: center; */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06px;
  color: #000000;
}
#pop_text2{
  width: 300px;
  /* height: 23px; */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06px;
  color: #000000;
}
#pop_text3{
  width: 300px;
  /* height: 98px; */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.06px;
  color: #000000;
}


.cards2_button {
  cursor: pointer;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  background: #FAFAFA;
}
.cards2_button:hover{
  background:#FDDCC4;
  transition: background-color .8s;
}

.pets2_nav {
  width: 340px;
  height: 52px;
  margin: 45px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

.pets2_icon {
  width: 52px;
  height: 52px;
}

.pets2_start {
  background: url("../images/button_start.png");
}

.pets2_prev {
  background: url("../images/button2_prev.png");
}

.pets2_one {
  background: url("../images/button_one.png");
}

.pets2_next {
  cursor: pointer;
  background: url("../images/button2_next.png");
}
.pets2_next:hover{
  border-radius: 100px;
  background-color: #FDDCC4;
  transition: background-color .8s;
}
.pets2_finish {
  cursor: pointer;
  background: url("../images/button_finish.png");
}
.pets2_finish:hover{
  border-radius: 100px;
  background-color: #FDDCC4;
  transition: background-color .8s;
}



.footer {
  box-sizing: border-box;
  width: 100%;
  background:  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_content {
  max-width: 1200px;
  /* width: 1200px; */
  width: 100%;
  /* height: 350px; */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer_all {
  max-width: 1200px;
  /* width: 1200px; */
  width: 100%;
  /* height: 310px; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer_text {
  width: 740px;
  height: 234px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.footer_text p {
  width: 260px;
  height: 23px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
}

.footer_text1 {
  width: 278px;
  height: 234px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.h3_left {
  width: 278px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06px;
  color: #FFFFFF;
}

.footer_contacts1 {
  text-decoration: none;
  width: 251px;
  height: 32px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts1 p {
  margin-left: 20px;
}

.footer_contacts2 {
  text-decoration: none;
  width: 239px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts2 p {
  margin-left: 20px;
}

.footer_text2 {
  width: 302px;
  height: 234px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.h3_right {
  width: 270px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06px;
  color: #FFFFFF;
}

.footer_locations1 {
  text-decoration: none;
  width: 302px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.footer_locations2 {
  text-decoration: none;
  width: 302px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_img {
  max-width: 300px;
}
.footer_img>img{
  width: 100%;
  height: auto;
}
/* @media (max-width: 768px) and (min-width: 321px){ */
@media (max-width: 768px){
  .wrapper {
    max-width: 768px;
    padding: 0 30px 0 30px;
  }
  .header_wrapper {
    /* width: 708px; */
    height: 120px;
  }
  .price2-ul {
    justify-content: space-evenly;
  }
  .skarlett{
    display: none;
  }
  .freddie{
    display: none;
  }
  .footer_all {
    flex-flow: column;
    align-items: center;
  }
  .footer_text {
    width: 100%;
    margin-bottom: 65px;
  }
  
}
@media (max-width: 767px){
  #pop_img{
    display: none;
  }
  .pop_container{
    max-width: 330px;
  }
  .pop_content{
    max-width: 305px;
    margin: 0;
    /* justify-content: center; */
  }
  .wrapper {
    padding: 0 10px 0 10px;
  }
  .menu{
    display: none;
  }
  .menu_open{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background: #fff;
    opacity: 1;
  }
  .menu_open2{
    max-width: 767px;
    height: 100%;
    max-height: 200px;
    padding: 200px 0 200px 0;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .burger_90{
    position: relative;
    z-index: 1;
    transform: rotate(90deg);
    transition: transform .8s;
  }
  .burger{
    display: inline-block;
    width: 30px;
    height: 22px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .burger_line{
    display: inline-block;
    background-color: #000;
    border: 1.5px solid #000;
    width: 25px;
  }
  .pets2_h3{
    width: 300px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }
  .charly,
  .katrine,
  .timmy{
    display: none;
  }
  .pets2_nav {
    width: 300px;
  }
  
  .footer_text {
    height: 470px;
    flex-flow: column;
    align-items: center;
  }
  .footer_text1 {
    margin-bottom: 40px;
    align-items: center;
  }
  .footer_text2 {
    align-items: center;
  }
  .h3_right {
    width: 278px;
    height: 64px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .h3_left {
    width: 278px;
    height: 64px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .footer_img {
    width: 260px;
    height: 269px;
}

}
/* @media screen and (max-width: 320px) */
