@charset "UTF-8";
html {
  background: #E5E5E5;
  scroll-behavior: smooth;
} /* делает прокрутку плавной */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/Georgia.ttf);
}
@font-face {
  font-family: "Arial";
  src: url(../fonts/ARIAL.TTF);
}
/* display: flex; */
.wrapper {
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  background: #FFFFFF;
}

.header_wrapper {
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 184px;
  height: 60px;
}

.header_a {
  width: 184px;
  height: 60px;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.h1 {
  width: 184px;
  height: 35px;
  /* logo_title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  /* line-height: 110%; */
  letter-spacing: 0.04px;
  color: #545454;
}
.h1:hover{
  color: #FDDCC4;
  transition: background-color .8s;
}
.under_h1 {
  width: 179px;
  height: 15px;
  padding-left: 4px;
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.06px;
  /* color-light-xl */
  color: #292929;
}
.under_h1:hover{
  color: #FDDCC4;
  transition: background-color .8s;
}
.menu-ul {
  width: 443px;
  height: 27px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul > li > a {
  height: 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 24px */
  color: #545454;
  text-decoration: none;
}
ul>li>a:hover{
  color: #FDDCC4;
  transition: background-color .8s;
}
.active {
  height: 24px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 24px */
  color: #292929;
  /* text-decoration: underline; */
  
}
.active_under{
  width: 58px;
  height: 3px;
  background: #F1CDB3;
  /* flex: none; */
  /* order: 1; */
  /* align-self: stretch; */
  /* flex-grow: 0; */
}






.pets2 {
  width: 100%;
  background: #F6F6F6;
}

.pets2_content {
  width: 1200px;
  height: 1342px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.pets2_h3 {
  width: 400px;
  height: 90px;
  margin: 80px 0 45px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.05px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #545454;
}

.slider2 {
  width: 1200px;
  height: 930px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.price2-ul {
  width: 1200px;
  height: 930px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
}

.active2 {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.cards2_wrapper {
  width: 270px;
  height: 165px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.cards2_wrapper > a {
  width: 74px;
  height: 23px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}
.active2{
  cursor: pointer;
}
.cards2_button {
  cursor: pointer;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  background: #FAFAFA;
}
.cards2_button:hover{
  background:#FDDCC4;
  transition: background-color .8s;
}

.pets2_nav {
  width: 340px;
  height: 52px;
  margin: 45px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

.pets2_icon {
  width: 52px;
  height: 52px;
}

.pets2_start {
  background: url("../images/button_start.png");
}

.pets2_prev {
  background: url("../images/button2_prev.png");
}

.pets2_one {
  background: url("../images/button_one.png");
}

.pets2_next {
  cursor: pointer;
  background: url("../images/button2_next.png");
}
.pets2_next:hover{
  border-radius: 100px;
  background-color: #FDDCC4;
  transition: background-color .8s;
}
.pets2_finish {
  cursor: pointer;
  background: url("../images/button_finish.png");
}
.pets2_finish:hover{
  border-radius: 100px;
  background-color: #FDDCC4;
  transition: background-color .8s;
}



.footer {
  width: 100%;
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer_content {
  width: 1200px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer_all {
  width: 1200px;
  height: 310px;
  display: flex;
  justify-content: space-between;
}

.footer_text {
  width: 740px;
  height: 234px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.footer_text p {
  width: 260px;
  height: 23px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #F1CDB3;
}

.footer_text1 {
  width: 278px;
  height: 234px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.h3_left {
  width: 285px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06px;
  color: #FFFFFF;
}

.footer_contacts1 {
  text-decoration: none;
  width: 251px;
  height: 32px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts1 p {
  margin-left: 20px;
}

.footer_contacts2 {
  text-decoration: none;
  width: 239px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_contacts2 p {
  margin-left: 20px;
}

.footer_text2 {
  width: 302px;
  height: 234px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.h3_right {
  width: 302px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06px;
  color: #FFFFFF;
}

.footer_locations1 {
  text-decoration: none;
  width: 302px;
  height: 46px;
  display: flex;
  justify-content: space-between;
}

.footer_locations2 {
  text-decoration: none;
  width: 302px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_img {
  width: 300px;
  height: 310px;
}

/*# sourceMappingURL=style.css.map */
